<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/form.scss">
    <title>Formulário de Times</title>
</head>
<body>

    <form action="#" method="post">
        <label for="text">Time 1</label>
        <input type="text" name="time1" placeholder="Nome do time">
        
        <br><br>

        <label for="text">Time 2</label>
        <input type="text" name="time1" placeholder="Nome do time">

        <br><br>

        <div class="btn">
            <button onclick="window.location.href='playtruco.html'">Começar</button>
        </div>
    </form>
    
</body>
</html>