<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/form.scss">
    <title>Formulário de Times</title>
</head>

<body>

    <div class="title">
        <h1>Insira os nomes dos times</h1>
    </div>
    <div class="formul">
        <form action="#" method="post">
            <label for="text">Time 1</label>
            <input type="text" name="time1" placeholder="Nome do time">

            <br><br>

            <label for="text">Time 2</label>
            <input type="text" name="time1" placeholder="Nome do time">

            <br><br>

            <div class="btn">
                <button onclick="window.location.href='playtruco.html'">Começar</button>
            </div>
        </form>
    </div>

</body>

</html>